<main class="px-4 py-16 w-full md:w-3/4 md:m-auto">
  <img
    alt=""
    src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    class="h-56 w-full object-cover"
  />

  <section>

    <div class="flex flex-row justify-between items-center my-4">
      <h1 class="text-start text-4xl">Comida</h1>

      <span
        class="inline-flex items-center justify-center rounded-full bg-amber-100 px-2.5 py-0.5 text-amber-700"
      >
        <p class="whitespace-nowrap text-sm">Categoría</p>
      </span>
    </div>
  </section>

  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, obcaecati! Sunt incidunt hic sed, totam repudiandae molestias temporibus quia deserunt ipsam ullam. Autem numquam sit ullam impedit iusto aspernatur repudiandae.</p>

  <span class="flex items-center my-4">
    <span class="h-px flex-1 bg-gray-200"></span>
  </span>

  <section class="mb-4">
    <h2 class="text-2xl mb-2">Ingredientes</h2>

    <ul class="list-disc pl-10">
      <li class="pl-2">Ingrediente 1</li>
      <li class="pl-2">Ingrediente 2</li>
      <li class="pl-2">Ingrediente 3</li>
      <li class="pl-2">Ingrediente 4</li>
    </ul>
  </section>

  <span class="flex items-center my-4">
    <span class="h-px flex-1 bg-gray-200"></span>
  </span>

  <section class="mb-4">
    <h2 class="text-2xl mb-2">Instrucciones</h2>

    <ol class="list-decimal pl-10">
      <li class="pl-2">Paso 1</li>
      <li class="pl-2">Paso 2</li>
      <li class="pl-2">Paso 3</li>
      <li class="pl-2">Paso 4</li>
    </ol>
  </section>
</main>
